body {
    padding-top: 80px;
    padding-left: 90px;
    background-color: rgb(247, 247, 247);
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

/* p {
    margin-top: 0;
    margin-bottom: 0;
}  */